USE [CompanyDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/3/2026 2:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dnum] [int] NOT NULL,
	[Dname] [varchar](50) NULL,
	[MGRSSN] [int] NULL,
	[MGRStart Date] [date] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Dnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dependent]    Script Date: 10/3/2026 2:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependent](
	[ESSN] [int] NOT NULL,
	[Dependent_name] [varchar](50) NOT NULL,
	[Sex] [char](1) NULL,
	[Bdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ESSN] ASC,
	[Dependent_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/3/2026 2:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[SSN] [int] NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[Lname] [varchar](50) NOT NULL,
	[Bdate] [date] NULL,
	[Address] [varchar](100) NULL,
	[Sex] [char](1) NULL,
	[Salary] [decimal](10, 2) NULL,
	[Superssn] [int] NULL,
	[Dno] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 10/3/2026 2:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Pnumber] [int] NOT NULL,
	[Pname] [varchar](50) NULL,
	[Plocation] [varchar](50) NULL,
	[Dnum] [int] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Pnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Works_for]    Script Date: 10/3/2026 2:51:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Works_for](
	[ESSN] [int] NOT NULL,
	[Pno] [int] NOT NULL,
	[Hours] [int] NULL,
 CONSTRAINT [PKS_Project] PRIMARY KEY CLUSTERED 
(
	[ESSN] ASC,
	[Pno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Manager] FOREIGN KEY([MGRSSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Manager]
GO
ALTER TABLE [dbo].[Dependent]  WITH CHECK ADD  CONSTRAINT [FK_Dependent_Employee] FOREIGN KEY([ESSN])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Dependent] CHECK CONSTRAINT [FK_Dependent_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [Department_Employee_FK] FOREIGN KEY([Dno])
REFERENCES [dbo].[Department] ([Dnum])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [Department_Employee_FK]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Supervisor] FOREIGN KEY([Superssn])
REFERENCES [dbo].[Employee] ([SSN])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Supervisor]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [Department_Project_FK] FOREIGN KEY([Dnum])
REFERENCES [dbo].[Department] ([Dnum])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [Department_Project_FK]
GO
ALTER TABLE [dbo].[Works_for]  WITH CHECK ADD  CONSTRAINT [FK_WorksFor_Employee] FOREIGN KEY([ESSN])
REFERENCES [dbo].[Employee] ([SSN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Works_for] CHECK CONSTRAINT [FK_WorksFor_Employee]
GO
ALTER TABLE [dbo].[Works_for]  WITH CHECK ADD  CONSTRAINT [FK_WorksFor_Project] FOREIGN KEY([Pno])
REFERENCES [dbo].[Project] ([Pnumber])
GO
ALTER TABLE [dbo].[Works_for] CHECK CONSTRAINT [FK_WorksFor_Project]
GO
ALTER TABLE [dbo].[Dependent]  WITH CHECK ADD CHECK  (([Sex]='F' OR [Sex]='M'))
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([Sex]='F' OR [Sex]='M'))
GO
